body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('pokefondo.jpg');
    background-size:100%; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
}
.contenedor-input {
    padding: 2px;
    border: 2px solid;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dadce0;
    position: sticky; 
    top: 0;
    background-color: #fff; 
    z-index: 100; 
}

#buscador-pokemon {
    width: 70vh;
    height: 40px;
    border: none;
    outline: none;
}
#cabecera {
    margin-top: 20px;
}
#lista-pokemon-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iconos {
    color: #dadce0;
    width: 20px;
    height: 20px;
    left: 12px;
}

.custom-card {
    display: flex;
    margin-bottom: 20px;
    margin: 5px;
}

.custom-card img {
    max-width: 200px; 
    margin-right: 20px;
}

.custom-card .card-body {
    flex: 1; }

.modal-content{
    display: flex;
    color: #656464;
    font-weight: bolder;
} 
